.wrapper{
  background: url("../../Images/backdrop-forest.jpg") no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  height: 160vh;
}
.wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color:rgba(4, 4, 20, 0.8);
}

.load-connection-box {
  padding-top: 149px;
}

.load-connection-box,.create-connection-box{
  position: relative;
}
