.container {
  background: rgba(4, 4, 32, 0.2);
  backdrop-filter: blur(32px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  @media (max-width: 1054px) {
    padding: 20px 24px;
    justify-content: space-between;
  }

  img {
    width: 180px;
    height: 19px;
  }

  .btn-header {
    max-width: 130px;
    height: auto;
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 24px;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-header:hover {
    border: 2px solid rgba(128, 128, 128, 0.57);
    border-radius: 8px;
    color: #FFFFFF;
    opacity: 1;
    background: rgba(4, 4, 32, 0.12);
    box-shadow: 12px 0px 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
  }

  @media screen and (max-width: 1067px) {
    .btn-header {
      display: none;
    }
  }

  .block-nav {
    .link {
      position: relative;
      color: #FFFFFF;
      cursor: pointer;
      line-height: 1;
      text-decoration: none;
      margin: 0 32px;
      font-size: 17px;
      opacity: 0.8;

    }

    .link:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 4px;
      top: 48px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px #FFFFFF;
      border-radius: 4px;
      content: "";
      transition: width 0.3s ease-out;
      filter: blur(1px);
      z-index: 9999;
    }

    .link:hover:after,
    .link:focus:after {
      -webkit-box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      -moz-box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      width: 110%;
    }

    @media screen and (max-width: 1067px) {
      display: none;
      .btn-header {
        display: none;
      }
    }
  }

  .scrollMenu {
    background: #222;
    height: 50px;
    width: 34%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 1067px) {
      display: none;
    }

  }
}
