.container {
  padding: 0 56px 0;
  height: 80px;
  background: rgba(4, 4, 32, 0.2);
  backdrop-filter: blur(32px);
  position: fixed;
  left: 0;
  z-index: 20;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 1054px) {
    padding: 20px 24px;
    justify-content: start;
  }
  .logo{
      padding: 32px 0 32px;
  }
  .btn-connect-wallet {
    max-width: 130px;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 1107px) {
      display: none;
    }
    &-text {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      opacity: 0.64;
    }
  }

  .btn-connect-wallet:hover {
    background: rgba(4, 4, 32, 0.12);
    box-shadow: 12px 0px 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
  }

  .btn-connect-wallet:hover .btn-connect-wallet-text{
    opacity: 1;
  }

  @media screen and (max-width: 1067px) {
    .btn-header {
      display: none;
    }
  }

  .block-nav {
    .link {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      opacity: 0.6;
      line-height: 120%;
      position: relative;
      color: #FFFFFF;
      cursor: pointer;
      text-decoration: none;
      margin: 0 32px;
    }

    .link:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 4px;
      top: 48px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px #FFFFFF;
      border-radius: 4px;
      content: "";
      transition: width 0.3s ease-out;
      filter: blur(1px);
      z-index: 9999;
    }

    .link:hover:after{
      -webkit-box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      -moz-box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      width: 110%;
    }

    .link.active{
      opacity: 1;
    }

    .link.active:after{
      -webkit-box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      -moz-box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      box-shadow: 1px -18px 47px 30px rgba(255, 255, 255, 0.41);
      width: 110%;
    }

    @media screen and (max-width: 1067px) {
      display: none;
      .btn-header {
        display: none;
      }
    }
  }

  .scrollMenu {
    background: #222;
    height: 50px;
    width: 34%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 1067px) {
      display: none;
    }

  }
}
