.hamburger-menu {
  position: absolute;
  top: 0px;
  width: 100%;
  right: 0;
  z-index: -1;

  //.show-menu {
  //  opacity: 0;
  //  display: none;
  //}
  .frosted-glass {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0768) 0%, rgba(255, 255, 255, 0) 20.83%, rgba(255, 255, 255, 0) 80.73%, rgba(255, 255, 255, 0.0768) 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .frosted-glass:before {
    content: "";
    box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(3px);
    margin: -20px;
    z-index: -1;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 42px;
    width: 35px;
    height: 29px;
    cursor: pointer;
    z-index: 12;
    right: 40px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    background: rgba(4, 4, 32, 0.94);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    position: relative;
    overflow: hidden;
  }

  .menu__box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: initial;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    z-index: 10;

    li {
      position: relative;

      a:after {
        display: block;
        position: absolute;
        width: 0;
        height: 4px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px #FFFFFF;
        border-radius: 4px;
        content: "";
        /*    transition: width 0.9s ease-out;*/
        filter: blur(1px);
        z-index: 9999;
      }

      a:before {
        display: block;
        position: absolute;
        width: 0;
        height: 10px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FF1AB1 50%, rgba(255, 255, 255, 0) 100%);
        filter: blur(5px);
        border-radius: 4px;
        content: "";
        transition: width 0.3s ease-out;
        z-index: 999;
        margin-top: 56px;

      }

      a:hover:after,
      a:focus:after {
        -webkit-box-shadow: 5px -8px 97px 17px rgba(255, 255, 255, 1);
        -moz-box-shadow: 5px -8px 97px 17px rgba(255, 255, 255, 1);
        box-shadow: 5px -8px 97px 17px rgba(255, 255, 255, 1);
        margin-top: 35px;
        left: 134px;
        width: 100px;
      }

      a:hover:before,
      a:focus:before {
        left: 15%;
        width: 70%;
      }
    }
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.6;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
    width: 312px;
    height: 46px;
    margin: 12px 0px;
  }

  .menu__item:hover {
    opacity: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 36.61%, rgba(255, 255, 255, 0.0672) 105.36%);
    border-radius: 2px;
    /*  width: 312px;*/
    height: 46px;
  }

  .show-menu.menu__btn > span {
    transform: rotate(45deg);
  }

  .show-menu.menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  .show-menu.menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .show-menu ~ .menu__box {
    /*    transform: translateX(-110vw);*/
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }

  .menu__box {
    transition-duration: .05s;
  }

  .menu__item {
    transition-duration: .05s;
  }

  .menu__block-btn {
    .btn {
      max-width: 130px;
      height: auto;
      background: rgba(255, 255, 255, 0.12);
      border: 2px solid rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(30px);
      border-radius: 8px;
      color: #FFFFFF;
      opacity: 0.8;
      line-height: 24px;
      padding: 8px 16px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .btn:hover {
      border: 2px solid rgba(128, 128, 128, 0.57);
      border-radius: 8px;
      color: #FFFFFF;
      opacity: 1;
      background: rgba(4, 4, 32, 0.12);
      box-shadow: 12px 0 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
      backdrop-filter: blur(30px);
    }
  }
}

@media (min-width: 1067px) {
  .hamburger-menu {
    display: none;
  }
}
