.hamburger-menu {
  position: absolute;
  top: 0px;
  width: 100%;
  right: 0;
  z-index: -1;

  //.show-menu {
  //  opacity: 0;
  //  display: none;
  //}
  .frosted-glass {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0768) 0%, rgba(255, 255, 255, 0) 20.83%, rgba(255, 255, 255, 0) 80.73%, rgba(255, 255, 255, 0.0768) 100%);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .frosted-glass:before {
    content: "";
    box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
    backdrop-filter: blur(3px);
    margin: -20px;
    z-index: -1;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 42px;
    width: 35px;
    height: 29px;
    cursor: pointer;
    z-index: 12;
    right: 40px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    background: rgba(4, 4, 32, 0.94);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    position: relative;
    overflow: hidden;
  }

  .menu__box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: initial;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 110px 0 50px;
    list-style: none;
    text-align: center;
    z-index: 10;
  }

  .menu__item-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
    position: relative;
  }

  .menu__item-inner:hover {
    max-width: 312px;
    width: 100%;
    height: 56px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 36.61%, rgba(255, 255, 255, 0.0672) 105.36%);
    border-radius: 2px;
    margin-bottom: 25px;
  }

  .menu__item-inner-pink-layout{
    position: absolute;
    transition: height 0.3s;
    height: 0px;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FF1AB1 50%, rgba(255, 255, 255, 0) 100%);
    filter: blur(4px);
    width: 100%;
  }

  .menu__item-inner-white-layout{
    position: absolute;
    transition: height 0.3s;
    width: 86px;
    height: 0px;
    background: #FFFFFF;
    opacity: 0.64;
    filter: blur(24px);
    border-radius: 100px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu__item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
    position: relative;
  }

  .menu__item:after{
    position: absolute;
    content: '';
    bottom: -17px;
    z-index: 100;
    transition: height 0.3s;
    width: 100%;
    height: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px #FFFFFF;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
  }


  .menu__item-inner:hover:hover .menu__item-inner-pink-layout{
    height: 4px;
  }
  .menu__item-inner:hover:hover .menu__item-inner-white-layout{
    height: 16px;
  }

  .menu__item-inner:hover .menu__item:after{
    height: 4px;
  }

  .menu__item-inner:hover .menu__item {
    opacity: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 36.61%, rgba(255, 255, 255, 0.0672) 105.36%);
    border-radius: 2px;
  }

  .show-menu.menu__btn > span {
    transform: rotate(45deg);
  }

  .show-menu.menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  .show-menu.menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .show-menu ~ .menu__box {
    /*    transform: translateX(-110vw);*/
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }

  .menu__box {
    transition-duration: .05s;
  }

  .menu__item {
    transition-duration: .05s;
  }

  .menu__block-btn {
    .btn {
      max-width: 130px;
      height: auto;
      background: rgba(255, 255, 255, 0.12);
      border: 2px solid rgba(255, 255, 255, 0.12);
      backdrop-filter: blur(30px);
      border-radius: 8px;
      color: #FFFFFF;
      opacity: 0.8;
      line-height: 24px;
      padding: 8px 16px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .btn:hover {
      border: 2px solid rgba(128, 128, 128, 0.57);
      border-radius: 8px;
      color: #FFFFFF;
      opacity: 1;
      background: rgba(4, 4, 32, 0.12);
      box-shadow: 12px 0 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
      backdrop-filter: blur(30px);
    }
  }
}

@media (min-width: 1067px) {
  .hamburger-menu {
    display: none;
  }
}

.btn-connect-wallet-mobile {
  margin-top: 56px;
  max-width: 130px;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(30px);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.64;
  }
}

.btn-connect-wallet-mobile:hover {
  background: rgba(4, 4, 32, 0.12);
  box-shadow: 12px 0px 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
}

.btn-connect-wallet-mobile:hover .btn-connect-wallet-mobile-text {
  opacity: 1;
}
