$margin-bottom: 30px;

.jobs-card {

  &-wrapper {
    color: white;
    max-width: 365px;
    min-width: 312px;
    min-height: 407px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: linear-gradient(180deg, rgba(4, 4, 32, 0.64) 0%, rgba(4, 4, 32, 0.256) 100%);
    box-shadow: 0px 12px 64px rgba(4, 4, 32, 0.32);
    backdrop-filter: blur(32px);
    border-radius: 8px;
    margin-bottom: 30px;

    &:hover{
      box-shadow: 0px 12px 40px rgba(255, 255, 255, 0.16);
      backdrop-filter: blur(32px);
    }

    @media (max-width: 720px) {
      max-width: 312px;
    }
  }

  &-container {
    padding: 24px 24px 0 24px;
  }
}

.top {
  &-inner {
    margin-bottom: 24px;
    @media (max-width: 720px) {
      margin-bottom: 16px;
    }
  }

  &-time {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.32;
    margin-bottom: 8px;
  }

  &-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
  }
}


.budget {
  &-title {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.32;
    margin-bottom: 8px;
  }

  &-price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.64;

    &-inner {
      margin-bottom: 24px;
      @media (max-width: 720px) {
        margin-bottom: 16px;
      }
    }

    &-crypto {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: #FFFFFF;
      margin-right: 12px;
    }
  }
}

.required-skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &-title {
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.32;
    margin-bottom: 8px;
  }
}

.description {
  padding-bottom: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.56;
}

.jobs-button-box{
  background: linear-gradient(180deg, rgba(4, 4, 32, 0.64) 0%, rgba(4, 4, 32, 0.256) 100%);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
