.swiper-wrapper{
    padding-top: 40px;
}

.swiper-button-prev{
    left: -1000px!important;
}

.swiper-button-next{
    right: -1000px!important;
}

@media (max-width: 845px) {
    .swiper-slide.swiper-slide-active{
        width: 270px;
        padding-left: 30px;
    }
}


@media (max-width: 500px) {
    .swiper-slide.swiper-slide-active{
        padding-left: 30px;
    }
}

