.button{
  max-width: 132px;
  width: max-content;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: rgba(255, 255, 255, 0.12);
  background: rgba(4, 4, 32, 0.4);
  backdrop-filter: blur(30px);
  cursor: pointer;
  &-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.64;
    color: #FFFFFF;
    padding: 8px 24px;
  }
}

.button-none{
  max-width: 132px;
  width: max-content;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(30px);
  cursor: pointer;
  &-text{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 8px;
    }
  }
}

.button-text-error {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FF1AB1;
}

.button-error{
  background: rgba(4, 4, 32, 0.4);
}

.button-error:hover{
  background: rgba(82, 13, 59, 0.4);
  box-shadow: 12px 0px 24px rgba(255, 26, 177, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
}

.button-active:hover{
    box-shadow: 12px 0px 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
}

.button-active:hover .button-text{
    opacity: 1;
}


.button-none:hover .button-text::after{
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(4, 4, 32, 0.3);
  box-shadow: 12px 0px 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16), 20px 20px 40px rgba(0, 0, 0, 0.2), 0px 0px 60px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(100px);
}

.button-none:hover .button-text {
  opacity: 1;
}
