.button{
  position: absolute;
  max-width: 132px;
  width: max-content;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(30px);
  bottom: -16px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  &-active{
    box-shadow: 12px 0px 24px rgba(10, 206, 219, 0.16), -12px 0px 24px rgba(255, 26, 177, 0.16);
  }

  &-text{
    opacity: 0.64;
    color: #FFFFFF;
    padding: 8px 24px;
  }

  &-active-text{
    opacity: 1;
  }
}
