
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.connection-card{

  &-inner{
    display: flex;
    flex-direction: row;
  }
}

.game-page{

  &-disconection-box{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title{
    z-index: 1;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
  }

  &-disconection{
    z-index: 1;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #0ACEDB;
    cursor: pointer;
  }

  &-slider{
    display: flex;
    overflow: hidden;
    max-width: 1200px;
    margin-left: auto;
  }

  &-connection-cards-inner{
    display: flex;
    flex-wrap: wrap;
  }

  &-connection-card-box{
    margin-bottom: 50px;
    margin-right: 20px;
  }
}
