.button-inner {
  max-height: 185px;
  max-width: 440px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  @media(max-width: 1067px) {
    bottom: 10%;
  }
}


.button-main {
  cursor: pointer;
  max-width: 280px;
  max-height: 56px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.0768) 0%, rgba(255, 255, 255, 0) 20.83%, rgba(255, 255, 255, 0) 80.73%, rgba(255, 255, 255, 0.0768) 100%);
  box-shadow: 0px 12px 60px rgba(4, 4, 32, 0.8);
  backdrop-filter: blur(16px);
  border-radius: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
  text-decoration: none;

  &:hover {
    background: linear-gradient(160.81deg, rgba(4, 4, 32, 0.2) 0%, rgba(4, 4, 32, 0.1) 100%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0768) 0%, rgba(255, 255, 255, 0) 20.83%, rgba(255, 255, 255, 0) 80.73%, rgba(255, 255, 255, 0.0768) 100%);
    z-index: 14;
  }


  &-left-line {
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 4px;
    height: 185px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1944) 50%, rgba(255, 255, 255, 0) 100%);

    &-pink-shadow {
      position: absolute;
      height: 129px;
      width: 4px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FF1AB1 50%, rgba(255, 255, 255, 0) 100%);
      filter: blur(12px);
      transform: translateY(50%);
      bottom: 50%;
    }

    &-white-line {
      position: absolute;
      width: 4px;
      height: 56px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px #FFFFFF;
      border-radius: 4px;
      transform: translateY(50%);
      bottom: 50%;
    }

    &-white-shadow {
      position: absolute;
      height: 78px;
      width: 20px;
      background: #FFFFFF;
      opacity: 0.5;
      filter: blur(24px);
      border-radius: 100px;
      transform: translate(-50%, 50%);
      bottom: 50%;
      left: 50%;
    }
  }

  &-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.64);
    z-index: 15;
  }

  &-right-line {
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 4px;
    height: 185px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1944) 50%, rgba(255, 255, 255, 0) 100%);

    &-blue-shadow {
      position: absolute;
      height: 129px;
      width: 4px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #0ACEDB 50%, rgba(255, 255, 255, 0) 100%);
      filter: blur(12px);
      transform: translateY(50%);
      bottom: 50%;
    }

    &-white-line {
      position: absolute;
      width: 4px;
      height: 56px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px #FFFFFF;
      border-radius: 4px;
      transform: translateY(50%);
      bottom: 50%;
    }

    &-white-shadow {
      position: absolute;
      height: 78px;
      width: 20px;
      background: #FFFFFF;
      opacity: 0.56;
      filter: blur(24px);
      transform: translate(-50%, 50%);
      bottom: 50%;
      left: 50%;
    }
  }
}

.button-pink-layout {
  position: absolute;
  max-width: 449px;
  max-height: 126px;
  width: 100%;
  height: 100%;
  background: #FF1AB1;
  opacity: 0.6;
  filter: blur(300px);
  z-index: 10;
}

.button-white-layout {
  position: absolute;
  max-width: 380px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  filter: blur(56px);
  z-index: 11;
}

.button-rainbow-layout {
  position: absolute;
  max-width: 440px;
  max-height: 16px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FF1AB1 0%, #0ACEDB 100%);
  filter: blur(56px);
  z-index: 12;
}
