
.fade-enter {
    opacity: 0.6;
    
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    
    transition: opacity 750ms ease-out, transform 600ms ease;
}
.fade-exit {
    opacity: 1;
    
}
.fade-exit.fade-exit-active {
    opacity: 0.6;
    
    transition: opacity 750ms ease-out, transform 600ms ease;
}



