.container {
  background: linear-gradient(0deg, rgba(4, 4, 32, 0.24), rgba(4, 4, 32, 0.24)), radial-gradient(74.81% 74.81% at 50% 50%, rgba(4, 4, 32, 0) 0%, #040420 100%),
  url("../../Images/backdrop-forest.jpg") no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
  backdrop-filter: blur(4px);
  background-blend-mode: color-dodge;

  .logo-block {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    @media (max-width: 1067px) {
      justify-content: space-evenly;
    }
    img {
      height: auto;
      mix-blend-mode: lighten;
      margin-bottom: 76px;
    }

    .back-top {
      content: '';
      position: absolute;
      top: 235px;
      width: 50%;
      max-width: 911px;
      height: 76px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0972) 50%, rgba(255, 255, 255, 0) 100%);
      left: 26%;
      @media (max-width: 1054px) {
        top: 300px;
      }
    }

    .back-down {
      content: '';
      position: absolute;
      top: 315px;
      width: 50%;
      max-width: 911px;
      height: 76px;
      left: 26%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0972) 50%, rgba(255, 255, 255, 0) 100%);
      @media (max-width: 1054px) {
        top: 380px;
      }
    }

    .description {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      color: #FFFFFF;
      opacity: 80%;
      margin-bottom: 24px;
      @media (max-width: 1067px) {
        display: none;
      }
    }

    @media (max-width: 1067px) {
      .setting-logo {
        position: relative;
        bottom: 139px;
        width: 235%;
        right: 69%;
      }
    }
  }
}

.btnThree {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.box {
  bottom: 30px;
  position: relative;
  width: 280px;
  z-index: -1;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.0768) 0%, rgba(255, 255, 255, 0) 20.83%, rgba(255, 255, 255, 0) 80.73%, rgba(255, 255, 255, 0.0768) 100%);
  @media (max-width: 400px) {
    bottom: 0;
  }
}

.logo-block-btn-logo-inner{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
