.container {
  background: linear-gradient(0deg, rgba(4, 4, 32, 0.24), rgba(4, 4, 32, 0.24)), radial-gradient(74.81% 74.81% at 50% 50%, rgba(4, 4, 32, 0) 0%, #040420 100%), url("backdrop-forest.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 1;

  .background-pink {
    min-width: 1200px;
    height: 88vh;
    background: #FF1AB1;
    mix-blend-mode: overlay;
    opacity: 0.6;
    filter: blur(24px);
    position: absolute;
    left: 0;
    top: 72px;
    z-index: 2;
  }

  .background-blue {
    position: absolute;
    min-width: 713px;
    height: 88vh;
    background: #1A91FF;
    mix-blend-mode: overlay;
    opacity: 0.8;
    filter: blur(300px);
    top: 72px;
    right: 0;
    z-index: 2;
  }

  .logo-block {
    z-index: 999;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    img {
      mix-blend-mode: lighten;
    }

    .back-top {
      content: '';
      position: absolute;
      top: 266px;
      width: 50%;
      max-width: 911px;
      height: 64px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0972) 50%, rgba(255, 255, 255, 0) 100%);

    }

    .back-down {
      content: '';
      position: absolute;
      top: 345px;
      width: 50%;
      max-width: 911px;
      height: 64px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0972) 50%, rgba(255, 255, 255, 0) 100%);
    }
  }
}
